/*
Theme Name:SKEL-ETOR
Author:The Nest team
Author URI:http://www.wearethenest.com.au/
Description:SKEL-ETOR
Version: 1.0
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,700,800);
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; *display: inline;
*zoom: 1;
}
audio:not([controls]) { display: none; height: 0; }
 [hidden] {
display: none;
}
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; }
body { margin: 0; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
mark { background: #ff0; color: #000; }
p, pre { margin: 1em 0; }
code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ''; content: none; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
dl, menu, ol, ul { margin: 1em 0; }
dd { margin: 0 0 0 40px; }
menu, ol, ul { padding: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; }
img { border: 0; -ms-interpolation-mode: bicubic; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px;
}
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle;
}
button, input { line-height: normal; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible;
}
button[disabled], html input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px;
*width: 13px;
}
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
 input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}
 button::-moz-focus-inner, input::-moz-focus-inner {
border: 0;
padding: 0;
}
textarea { overflow: auto; overflow: vertical; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0;
}
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.vh { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.vh.focusable:active, .vh.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.entry-content img { margin: 0 0 1.5em 0; }
.alignleft, img.alignleft { margin-right: 1.5em; display: inline; float: left; }
.alignright, img.alignright { margin-left: 1.5em; display: inline; float: right; }
.aligncenter, img.aligncenter { margin-right: auto; margin-left: auto; display: block; clear: both; }
.wp-caption { margin-bottom: 1.5em; text-align: center; padding-top: 5px; }
.wp-caption img { border: 0 none; padding: 0; margin: 0; }
.wp-caption p.wp-caption-text { line-height: 1.5; font-size: 10px; margin: 0; }
.wp-smiley { margin: 0 !important; max-height: 1em; }
blockquote.left { margin-right: 20px; text-align: right; margin-left: 0; width: 33%; float: left; }
blockquote.right { margin-left: 20px; text-align: left; margin-right: 0; width: 33%; float: right; }
.size-auto, .size-full, .size-large, .size-medium, .size-thumbnail { max-width: 100%; height: auto; }
body {     font: 62.5%/1.4em Arial, Helvetica, sans-serif; background: #fff;}
body { background: #fff; }
h1 { font-size: 2.5em; margin: 0.67em 0; }
h2 { font-size: 2em; margin: 0.83em 0; }
h3 { font-size: 1.75em; margin: 1em 0; }
h4 { font-size: 1.5em; margin: 1.33em 0; }
h5 { font-size: 1.25em; margin: 1.67em 0; }
h6 { font-size: 1em; margin: 2.33em 0; }
.inner { padding: 30px; }
.inner-h { padding: 0 30px; }
.inner-v { padding: 30px 0; }
.container { margin: 0 auto; width: 960px; }
#logo a { display: block; text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('images/logo.png?1386543210'); background-repeat: no-repeat; background-position: 0 0 50%; width: 169px; height: 55px; }
.post-2 header h1{ display:none;}
.entry h1{ display:none;}
 @media print {
* { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
/* Black prints faster:h5bp.com/s */
a, a:visited { text-decoration: underline; }
a[href]:after { content: " (" attr(href) ")"; }
abbr[title]:after { content: " (" attr(title) ")"; }
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
/* Don't show links for images, or javascript/internal links */
pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
thead { display: table-header-group; }
/* h5bp.com/t */
tr, img { page-break-inside: avoid; }
img { max-width: 100% !important; }
 @page {
margin: 0.5cm;
}
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3 { page-break-after: avoid; }
}
/*----Custom----*/
.home header { width: 100%; position: absolute; z-index: 9999; top: 0; left: 0; padding: 0 6em; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.home .slider_area { overflow: hidden; width: 100%; display: block; position: relative; }
.slider_area .greybg { background: rgba(25, 29, 34, 0.75); top: 0; left: 0; bottom: 0; right: 0; position: absolute; height: 100%; z-index: 999; }
header .inner-area { padding-top: 50px; width: 100%; float: left; position:relative; z-index:99 }
header .inner-area #logo { display: block; float: left; margin-right: 3.125%; width: 14.0625%; }
header .inner-area #logo a { display: inline-block; float: left; height: 33px; vertical-align: middle; width: 100px; }
.tp-video-controls, .tparrows { display: none; }
.container { display: block; position: relative; width: 100%; }
/*----Menu Design ---*/
#nav-header { display: block; float: left; margin-right: 0; margin-top: 3px; text-align: right; width: 82.8125%; }
#nav-header ul { display: block; }
#nav-header ul li { display: inline-block; height: 20px; overflow: visible; vertical-align: middle; white-space: nowrap; }
#nav-header ul li a { color: #ffffff; display: block; font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 600; letter-spacing: 0.05em; line-height: 1em; padding: 3px 15px; text-transform: uppercase; transition: all 0.2s ease-in-out 0s; text-decoration: none; }
#nav-header ul li:last-child { height: 40px; }
#nav-header ul li:last-child a:hover { background: #f42156 none repeat scroll 0 0; color: #ffffff; }
#nav-header ul li:last-child a { border: 1px solid #ff3366; border-radius: 3px; color: #ff3366; margin-left: 15px; padding: 12px 17px; }
#nav-header ul li a:hover, #nav-header ul li.current_page_item a { color: #ff3366; }
.heading-text-area .textwidget{ }
.heading-text-area { display: block; margin: 0 auto; max-width: 100%; padding-top: 270px; position: relative; text-align: center; }
.heading-text-area h1 { font: 300 7em/1.30435 'Open Sans', sans-serif; color: #fff; letter-spacing: 0.075em; margin-bottom: 0.375em; text-transform: uppercase; }
.heading-text-area p { font: italic 100 2em "open-sans", sans-serif; letter-spacing: 0.005em; margin-bottom: 43px;color: #fff; }
.heading-text-area p a { background: #ff3366 none repeat scroll 0 0; border: 0 none; border-radius: 5px; color: #ffffff; cursor: pointer; display: inline-block; font-family: 'Open Sans', sans-serif; font-style: normal; font-size: 0.77778em; font-weight: 400; line-height: 1em; padding: 1.35714em 1.92857em 1.21429em; text-transform: uppercase; transition: background 0.3s ease 0s; }
.heading-text-area a.hero-play { background: url(images/playVideo.png) 0 0 no-repeat; display: inline-block; height: 50px; margin-top: 3.125em; transition: all 0.3s ease 0s; vertical-align: middle; width: 50px; }
@-moz-document url-prefix() {
 .heading-text-area h1 { font: 300 8em/1.30435  'OgilvyJBaskerville-Regular'; }
 #nav-header ul li a{
	 font-size: 16px;
	}
}
.acf-fields{clear:both;}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.darkb {
    background-color: #3d3d3d;
    color: #fff;
	width:100%;
	float:left;
}
.inverted {
    background: #f3f3f3;
    color: #3d3d3d;
	width:100%;
	float:left;
}
@media all and (min-width: 1200px) {
  /* line 292, lib/scss/_global.scss */
  .cont-l, .cont-r {
    width: 570px !important; } 
	
	
	}
/* line 297, lib/scss/_global.scss */
.stock-img {
  background-image: url("images/stockimg-placeholder.jpg"); }

/* line 302, lib/scss/_global.scss */
.img-content {
  background-image: url("images/content-channel.jpg");
  background-size: cover;
  position: relative; }

/* line 308, lib/scss/_global.scss */
#organisation {
  background-image: url("images/organisation1.jpg");
  background-size: cover;
  position: relative; }

/* line 314, lib/scss/_global.scss */
#data-analytics {
  background-image: url("images/data-analytics.jpg");
  background-size: cover;
  position: relative; }

/* line 320, lib/scss/_global.scss */
#technology {
  background-image: url("images/tech-background2.jpg");
  background-size: cover;
  position: relative; }

/* line 330, lib/scss/_global.scss */
.list-unstyled li.bb {
  font-size: 14px; }

/* line 332, lib/scss/_global.scss */
.services h3 {
  margin-bottom: 25px; }

/* line 334, lib/scss/_global.scss */
.mobile-services li h3 {
  margin-bottom: 20px; }

/* line 336, lib/scss/_global.scss */
.mobile-services ul.list-unstyled {
  margin-bottom: 40px; }
  .block {
    height: auto;
}

@media all and (min-width: 768px) {
  /* line 35, lib/scss/_global.scss */
  .block {
    min-height: 600px; } }
	@media all and (min-width: 768px) {
  /* line 86, lib/scss/_global.scss */
  .vert-block {

    margin: 120px 0px 0 0;
    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

  /* line 95, lib/scss/_global.scss */
  #channel-content .vert-block {
    height: 50%; } }
	@media all and (min-width: 768px) {
  /* line 117, lib/scss/_global.scss */
  .pyramid {
    position: relative;
    top: -30px; }

  /* line 122, lib/scss/_global.scss */
  .three-r {
    position: relative;
    top: -20px; } }
	p {
    margin: 0 0 10px;
}
@media all and (min-width: 768px) {
  /* line 117, lib/scss/_global.scss */
  .pyramid {
    position: relative;
    top: -30px; }

  /* line 122, lib/scss/_global.scss */
  .three-r {
    position: relative;
    top: -20px; } }
h3 {
    font-size: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
     font-weight: 500; 
    letter-spacing: -0.03em;
}
.inverted h3 {
    color: #000;
	
}
.vert-block  h3{font-size: 3em;}
.vert-block p{ font-size:16px; line-height:21px;}
  @media all and (min-width: 768px) {
  /* line 240, lib/scss/_global.scss */
  .cont-l, .cont-r {
 /*   width: 750px !important;*/
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none; } }

@media (min-width: 992px) {
  /* line 5, vendor/_bootstrap.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-12 {
    width: 100%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-11 {
    width: 91.66666667%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-10 {
    width: 83.33333333%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-9 {
    width: 75%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-8 {
    width: 66.66666667%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-7 {
    width: 58.33333333%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-6 {
    width: 50%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-5 {
    width: 41.66666667%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-4 {
    width: 33.33333333%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-3 {
    width: 25%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-2 {
    width: 16.66666667%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-1 {
    width: 8.33333333%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-pull-12 {
    right: 100%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-pull-11 {
    right: 91.66666667%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-pull-10 {
    right: 83.33333333%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-pull-9 {
    right: 75%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-pull-8 {
    right: 66.66666667%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-pull-7 {
    right: 58.33333333%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-pull-6 {
    right: 50%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-pull-5 {
    right: 41.66666667%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-pull-4 {
    right: 33.33333333%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-pull-3 {
    right: 25%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-pull-2 {
    right: 16.66666667%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-pull-1 {
    right: 8.33333333%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-pull-0 {
    right: 0; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-push-12 {
    left: 100%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-push-11 {
    left: 91.66666667%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-push-10 {
    left: 83.33333333%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-push-9 {
    left: 75%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-push-8 {
    left: 66.66666667%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-push-7 {
    left: 58.33333333%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-push-6 {
    left: 50%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-push-5 {
    left: 41.66666667%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-push-4 {
    left: 33.33333333%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-push-3 {
    left: 25%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-push-2 {
    left: 16.66666667%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-push-1 {
    left: 8.33333333%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-push-0 {
    left: 0; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-offset-12 {
    margin-left: 100%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-offset-9 {
    margin-left: 75%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-offset-6 {
    margin-left: 50%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-offset-3 {
    margin-left: 25%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  /* line 5, vendor/_bootstrap.scss */
  .col-md-offset-0 {
    margin-left: 0; } }
	.pyramid img {
    padding-bottom: 17px;
}
.pyramid br{ display:none;}
.sa-p{ text-align:center;}
@media(max-width:1320px){
.heading-text-area .textwidget{ margin-left:80px}	
}


