/*	
 * Theme Name: Child Genesis	
 * Description: This is child genesis theme.	
 * Author: Gurdeep Dhillon	
 * Template: genesis
 **/
.heading-text-area h1 {
    font: 100 4em/1.30435 'Open Sans', sans-serif;
    color: #000;
    letter-spacing: 0.075em;
    margin-bottom: 0.375em;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0.7);
    text-align: center;
    padding: 10px;
    clear: both;
    width: auto;
    display: inline-block;
}