/*
Theme Name:SKEL-ETOR
Author:The Nest team
Author URI:http://www.wearethenest.com.au/
Description:SKEL-ETOR
Version: 1.0
*/

@import "base";

//  ==========================================================================
//  Primary Styles
//  ==========================================================================

body {font-family:$base-font-family; background:$body-background-color;}
h1, h2, h3, h4, h5, h6 {font-family:$header-font-family;}
.container {margin:0 auto; width:$container;}

//  ==========================================================================
//  General
//  ==========================================================================

.my-fancy-button {}

//  ==========================================================================
//  Layout
//  ==========================================================================

#header {}
	#logo {
		h1 a {display:block; @include replace-text-with-dimensions($logo-image, 0 0);}
	}
#main {}
#content {}
#sidebar {}
#footer {}

//  ==========================================================================
//  Templates
//  ==========================================================================

.my-template-page-php {}

//  ==========================================================================
//  Posts
//  ==========================================================================

article {
	header {}
	.entry {}
	footer {}
}

//  ==========================================================================
//  Widgets
//  ==========================================================================

.widget {
	h3 {}
}

//  ==========================================================================
//  Print Styles
//  ==========================================================================

@media print {
	* { background:transparent !important; color:#000 !important; box-shadow:none !important; text-shadow:none !important; filter:none !important; -ms-filter:none !important; } /* Black prints faster:h5bp.com/s */
	a, a:visited { text-decoration:underline; }
	a[href]:after { content:" (" attr(href) ")"; }
	abbr[title]:after { content:" (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border:1px solid #999; page-break-inside:avoid; }
	thead { display:table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside:avoid; }
	img { max-width:100% !important; }
	@page { margin:0.5cm; }
	p, h2, h3 { orphans:3; widows:3; }
	h2, h3 { page-break-after:avoid; }
}